body {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  background: #f2f2f2;
  margin: 0;
}

nav {
  margin-bottom: 2.2em;
  background-color: #043B4B;
  height: 5em;
}

#thanks {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}

.container {
  margin-top: 5em;
  text-align: center;
}

h2 {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 1.75em;
}

input {
  font-family: proxima-nova,Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 1px;
  /* margin-left: 2em; */
  text-decoration: none;
  /* margin-right: 2em; */
  color: white;
  background-color: #F58F32;
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 1em;
}

input:hover {
  border: 1px solid white;
}

a {
  margin-left: 1em;
}

#galvanize-logo > img {
  margin-top: 10px;
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}
